    <div class="container text-center">
    <div class="row justify-content-start">
@for(int i =0; i< _heroes.Count; i++)
{

            <div class="col-auto hero-image">
                <img class="" src="heroes/@_heroes[i]" />
            </div>


}
        </div>
    </div>

@code {
    string path = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\heroes"}";

    IList<string> _heroes = new List<string>();

    protected override void OnInitialized()
    {
        Load();
    }

    public void Load()
    {
        _heroes = Directory.GetFiles(path).Select(f => Path.GetFileName(f)).ToList();

	}
}
